<% provide(:title, "Home") %>
<h1 id="home_page_header"> Begin your quest for knowledge </h1>

<div class="search">
  <%= form_tag articles_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query], class: 'form-control' %>
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<% if logged_in? %>
<div class="new_link">
<%= link_to 'New Article', new_article_path, class: "btn btn-warning btn-sm" %>
</div>
<% end %>

<div class="row">
  <div>
    <% if params[:query].present? %>
      <% if @articles.empty? %>
      
        <div class="no_results">
          There were no results found or your search might just suck...<br>
          Either way you must try again.
        </div>
      
      <% else %>
      
        <ol class="articles"> 
          <%= render @articles %>
        </ol>
        
      <% end %>
    <% end %>
  </div>
</div>