<% provide(:title, "Home") %>

<div class="new_link">
  <%= link_to 'New Article', new_article_path %>
</div>
  
  <div class="search">
    <%= form_tag articles_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query], class: 'form-control' %>
      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    </p>
    <% end %>
  </div>

<div class="row">
  <div class="article_list">
    <% if @articles.any? %>
      <ol class="articles">
        <%= render @articles %>
      </ol>
    <% end %>
    
    <%= will_paginate @articles %>
    
  </div>
</div>